/* ejemplo1.css   LF18010  */
ficheroa {
	background-color:green;
	}

ficha {
	background-color:black; display:block;
	}
    
carnet {
	background-color:blanchedalmond; display:block;
	}

anioingreso {
    background-color:red; display:block;
    }
        
nombre {
	color:white; display:inline;
	}

apellido {
	color:yellow; display:inline;
	}
telefono {
		color:rgb(16, 31, 142); display:inline;
		}
email {
	color:yellow;font-size:1cm; display:none;
	}
url {
	color:red; display:inline;
	}
